<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2yoATcFPMTu2E7Dj_OaUajye8NsvvDKY</string>
	<key>GCM_SENDER_ID</key>
	<string>752482409998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartCampusMobileApp</string>
	<key>PROJECT_ID</key>
	<string>smartcampus-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcampus-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752482409998:ios:74d025bbf5edce2116665f</string>
</dict>
</plist>